/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    background: #F7F7F7;
    padding: 10px 15px 25px 10px;
    font: 18px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    text-align: center;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -10px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    margin: 0 auto;
    display: block;
    font-size: 11px;
}
.basic-grey label {
    margin: 0 auto;
    display: block;
}
.basic-grey label>span {
    display: block;
    /*float: left;*/
    width: 20%;
    text-align: center;
    padding-right: 10px;
    margin:10px auto;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin: 0 auto;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 100%;
    font-size: 15px;
    line-height:18px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey textarea{
     height:100px;
 }
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-top: 10px;
}
.basic-grey .button:hover {
    background: #CF7A7A
}